<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="UareU.Enrollment_Post.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <UareU.Enrollment_Post.Properties.Settings>
            <setting name="DatasourceFilename" serializeAs="String">
                <value>enrollment-data.dat</value>
            </setting>
            <setting name="OfflineDataPath" serializeAs="String">
                <value>C:\KIOSK FILES\Datasource</value>
            </setting>
            <setting name="DataUrl" serializeAs="String">
                <value>http://localhost:51397/Kiosk/GetData?forEnrollment=true</value>
            </setting>
            <setting name="PostDataUrl" serializeAs="String">
                <value>http://localhost:51397/Kiosk/PostEnrollmentData</value>
            </setting>
        </UareU.Enrollment_Post.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DPUruNet" publicKeyToken="7f32ef930fec5e5f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.1" newVersion="1.0.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>