@{
    Layout = "~/Views/Shared/_Layout_Anonymous.cshtml";
}

@using coreApp.Models
@model coreApp.Models.ForgotPasswordViewModel

<div class="login-block">
    <div class="block block-transparent">
        <div class="head">
            <div class="user">
                <div class="info user-change">
                    <img src="~/Assets/images/ustp.png" class="img-circle img-thumbnail" style="border:none" />
                    @*<div class="user-change-button">
                            <span class="icon-off"></span>
                        </div>*@
                </div>
            </div>
        </div>
        <div class="content controls npt">
           
            @using (Html.BeginForm("ForgotPassword", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(false, "", new { @class = "text-danger" })

                <fieldset>
                    <label class="block clearfix" style="margin-bottom:0">
                        <span class="block input-icon input-icon-right">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email Address" })
                            <i class="fa fa-envelope-o"></i>
                        </span>
                    </label>
                    <div class="clearfix">

                        <button type="submit" class="btn btn-default btn-block btn-clean">
                            <i class="fa fa-send"></i>
                            <span class="bigger-110">Submit</span>
                        </button>
                    </div>

                    <div class="space-4"></div>
                </fieldset>
            }
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $('form').keyup(function (e) {
            if (e.keyCode == 13) {
                $(this).submit();
            }
        });
    </script>
}
