<div class="modal fade" id="modalInput" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title"></h6>
            </div>
            <div class="modal-body">
                <label></label>       
                <div></div>
            </div>
             <div class="modal-footer btn-group-sm">
                <button type="button" class="btn btn-secondary btn-cancel" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary btn-ok">Ok</button>
            </div>
        </div>
    </div>
</div>    

<script>
    function modalInput(title, msg, callback, type, showCallback) {
        var ret = false;

        var modal = $('#modalInput').clone();
        modal.find('.modal-title').html(title);

        var body = modal.find('.modal-body');

        body.find('label').html(msg);

        var obj;
        if (type == null || type == 'input') {
            obj = $('<input type="text" class="user-input form-control" />');

            obj.keyup(function (e) {
                if (e.which == 13) {
                    modal.find('.btn-ok').click();
                }
            });

        } else if (type == 'textarea') {
            obj = $('<textarea class="user-input form-control" />');
        }

        body.find('div').empty().append(obj);

        var userInput = body.find('.user-input');

        modal.find('.btn-ok').unbind().bind('click', function (e) {
            e.preventDefault();
            e.stopPropagation();

            ret = true;
            modal.modal('hide');
        });

        modal
            .unbind('show.bs.modal')
            .unbind('hide.bs.modal')
            .on('show.bs.modal', function () {
                if (showCallback) showCallback(modal);
            })
            .on('hide.bs.modal', function () {
                callback(ret, userInput.val());
            })
            .modal({
                backdrop: 'static',
                show: true
            });
    }

</script>