
@{
    ViewBag.Title = "Contractor Issuances";
    ViewBag.Subtitle = "List";

}

@section Breadcrumbs {
    @Html.Partial("_Breadcrumbs", new List<Breadcrumb>()
    {
        new Breadcrumb { Description = "Monitoring" },
        new Breadcrumb { Description = ViewBag.Title }
    })
}


<div class="block">
    <div class="card">
        <div class="card-header">
            <h5>@ViewBag.Title</h5>
        </div>

        <div class="card-body">

            @Html.Partial("_Contractors", -1)

        </div>
    </div>
</div>

