@{
    ViewBag.Title = "Notice to Proceed";


}

@section Breadcrumbs {
    @Html.Partial("_Breadcrumbs", new List<Breadcrumb>()
    {
        new Breadcrumb { Description = "Public Bidding" },
        new Breadcrumb { Description = ViewBag.Title }
    })
}

<h1>NTP</h1>
