<div class="modal fade modal-view" id="modalItemQty" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content modal-ku">
            <div class="modal-header">
                <h6 class="modal-title"></h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">

                <div class="itemlist-cont">

                </div>

                <div class="qty">
                    <input type="hidden" class="itemid" />
                    <table>
                        <tbody>
                            <tr><td>Item Name</td><td>:</td><td class="itemname"></td></tr>
                            <tr><td>Item Price</td><td>:</td><td class="itemprice"></td></tr>
                        </tbody>
                    </table>
                    <hr />
                    <table>
                        <tbody>
                            <tr>
                                <td>Q1</td>
                                <td>
                                    <div class="input-group">
                                        <div class="input-group-addon">Jan</div>
                                        <input type="text" class="form-control m1" />
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <div class="input-group-addon">Feb</div>
                                        <input type="text" class="form-control m2" />
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <div class="input-group-addon">Mar</div>
                                        <input type="text" class="form-control m3" />
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Q2</td>
                                <td>
                                    <div class="input-group">
                                        <div class="input-group-addon">Apr</div>
                                        <input type="text" class="form-control m4" />
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <div class="input-group-addon">May</div>
                                        <input type="text" class="form-control m5" />
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <div class="input-group-addon">Jun</div>
                                        <input type="text" class="form-control m6" />
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Q3</td>
                                <td>
                                    <div class="input-group">
                                        <div class="input-group-addon">Jul</div>
                                        <input type="text" class="form-control m7" />
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <div class="input-group-addon">Aug</div>
                                        <input type="text" class="form-control m8" />
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <div class="input-group-addon">Sep</div>
                                        <input type="text" class="form-control m9" />
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Q4</td>
                                <td>
                                    <div class="input-group">
                                        <div class="input-group-addon">Oct</div>
                                        <input type="text" class="form-control m10" />
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <div class="input-group-addon">Nov</div>
                                        <input type="text" class="form-control m11" />
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <div class="input-group-addon">Dec</div>
                                        <input type="text" class="form-control m12" />
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
             <div class="modal-footer btn-group-sm">
                <div class="btn-group-sm">
                    <button type="button" class="btn btn-default btn-clean btn-cancel" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-default btn-clean btn-cancel-qty">Cancel</button>
                    <button type="button" class="btn btn-danger btn-delete">Delete</button>
                    <button type="button" class="btn btn-primary btn-clean btn-saveandcontinue">Save and Continue</button>
                    <button type="button" class="btn btn-primary btn-clean btn-save">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .modal-dialog {
        max-width: 1000px;
    }
    .modal-ku {
        border: 1px gray;
    }
</style>