@using coreApp.Areas.Procurement.DAL
@model string
@{    
    tblPR pr = (tblPR)ViewData["pr"];

    List<SelectListItem> prs = coreApp.Areas.Procurement.SelectItems.getPRs(year: pr.Year, officeId: pr.OfficeId, showEmptyItem: false);
}

<select onchange="prItemSelected(this)" class="form-control pc-selectpicker" data-style="btn-success">
    @foreach (SelectListItem o in prs)
    {
        <option value="@o.Value" @(pr.Id.ToString() == o.Value ? "selected" : "")>@o.Text</option>
    }
</select>

<script>
    function prItemSelected(sel) {
        window.location = '@Model' + $(sel).val();
    }
</script>